html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem; }

body {
  background-color: #fff;
  color: #4562ae !important; }

h1 {
  color: #4562ae !important;
  -webkit-font-smoothing: antialiased; }

h2 {
  color: #4562ae !important;
  font-size: 4.2rem !important;
  -webkit-font-smoothing: antialiased; }

h3, .formations-titre {
  color: #4562ae !important;
  -webkit-font-smoothing: antialiased; }

h4 {
  color: #f7ac54 !important;
  font-size: 2.4rem !important;
  -webkit-font-smoothing: antialiased; }

h6 {
  color: #f7ac54 !important;
  font-size: 2.2rem !important;
  -webkit-font-smoothing: antialiased; }

p, li {
  color: #4e4e4e;
  font-size: 1.6rem !important;
  -webkit-font-smoothing: antialiased; }

p.sub-heading {
  font-size: 2rem !important;
  -webkit-font-smoothing: antialiased; }

a {
  font-size: 1.6rem !important;
  -webkit-font-smoothing: antialiased; }

.back-button-outer i {
  font-size: 40px !important; }

.p-r-10 {
  padding-right: 20px; }

.p-l-10 {
  padding-left: 20px; }

ul {
  padding-left: 0; }

/*
HERO
*/
.main-preloader {
  background-color: white; }

.head--h1-test {
  font-size: 4rem;
  line-height: 1.3; }

.head--h1-test > span {
  font-size: 5.5rem; }

.overlay-color::before {
  background-color: transparent; }

.home-section .heading-outer::after,
.home-section .heading-outer::before {
  background-color: #f7ac54; }

/*
NAVIGATION
*/

.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.nav a {
  color: #4562ae; }

.nav .btn-nav {
  color: #4562ae !important; }

.navbar {
  z-index: 3; }

.navbar-nav {
  z-index: 1; }

.navbar, .navbar-nav {
  background-color: white !important; }

.nav-trigger .icon, .nav-trigger .icon::after, .nav-trigger .icon::before {
  background-color: #4562ae; }

.nav--lien-padding {
  padding: 1px; }

.nav--img-taille {
  height: 54px; }

.nav--liste-centrer {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-wrap: wrap !important;
      flex-wrap: wrap !important;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  -webkit-box-shadow: 0px 10px 16px #0000001a;
          box-shadow: 0px 10px 16px #0000001a; }

/*
SECTIONS
*/
.section--color-dark {
  background-color: white !important; }

.section--color-light {
  background-color: white !important; }

.sections--titre-taille {
  font-size: 2rem; }

.section-header {
  margin-bottom: 30px !important; }

/* Carousel => Selecteur de page */
.owl-page {
  height: 5px !important; }

/*
SECTION HOME
*/

.home-section .list-view li {
  padding-bottom: 15px;
}

.home--img-padding {
  padding: 0 !important; }

.home-nav--centre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .home-nav--centre li {
    margin: 6px 0; }
    .home-nav--centre li a {
      font-size: 1.5rem !important; }

/*
COMMON SECTIONS
*/
.common-section .btn {
  color: #4562ae;
  font-style: italic; }

.common-section .each-services-outer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.common-section .each-services-inner .title {
  line-height: 1.3;
  margin-bottom: 1.5rem; }

.common-section .back-button-outer.overflow {
  background-color: #fff;
  padding: 3px 6px 3px 3px; }
  .common-section .back-button-outer.overflow a {
    position: relative;
    top: -6px; }
  .common-section .back-button-outer.overflow i {
    position: relative;
    top: 13px; }
  .common-section .back-button-outer.overflow .retour-btn {
    font-size: 17px;
    margin: 3px; }

/*
SECTION FORMATION
*/
#formation {
  margin-bottom: 7rem;
  margin-top: 5rem; }

.formation--mecha-title {
  line-height: 1.3; }

.formation--image-curseur {
  cursor: all-scroll !important; }

.services-content-outer .overflow p {
  color: #4e4e4e; }

.services-content-outer .overflow a {
  color: #4562ae; }

.services-full-view .services-details .back-button-outer .btn, .services-full-view .services-details .back-button-outer .btn .icon {
  color: #f7ac54; }

/*
SECTION CONSEILS
*/
.profile-outer {
  font-size: 1.6rem !important;
  line-height: 1; }

.conseil-titre-centrer-1 {
  margin-bottom: 3rem; }

.conseil-titre-centrer-2 {
  margin-top: 6rem; }

.conseil-titre-centrer-3 {
  margin-top: 8rem; }

.conseil-ul-marge {
  margin-top: 1.5rem;
  padding-left: 0; }

.conseil--liste-decoration {
  list-style: none;
  line-height: 2.2;
  color: #4e4e4e; }

.conseil--img-taille {
  width: 60% !important;
  margin: 2rem; }

.conseil--img-curseur {
  cursor: all-scroll !important;
  width: auto; }

.owl-carousel .owl-wrapper-outer.autoHeight {
  -webkit-transition: height 700ms ease-in-out;
  transition: height 700ms ease-in-out; }

.testimonial-section .testimonial-wrapper .owl-wrapper-outer .owl-wrapper {
  background-color: white !important; }

.testimonial-section .testimonial-wrapper .owl-item {
  background-color: white !important; }

.testimonial-section .testimonial-wrapper .item .profile-outer {
  background-color: white !important; }

/*
SECTION DOCUMENTS
*/
.document-section a {
  padding: 0 4px; }

.document--icon-marge {
  margin-right: 1rem; }

/*
SECTION MISSION-EX
*/
.missionEx--container-padding {
  padding-bottom: 115px; }

.sectionEx--h2-marge {
  margin-bottom: 4rem; }

.missionEx--titre-police {
  font-family: 'Merriweather', serif;
  font-weight: 400; }

.missionEx--text-align {
  text-align: center; }

.missionEx--liste-style li {
  list-style: none; }

.missionEx--video-marge {
  margin: 5rem 0 2rem 0; }

/*
SECTION PORTFOLIO
*/
#portfolio-section {
  margin: 30px 0 70px; }
  #portfolio-section .btn {
    color: #4562ae; }
  #portfolio-section .project-detail .list li {
    border-color: #4562ae; }
  #portfolio-section .portfolio-wrapper {
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white; }
  #portfolio-section .heading-text .inner {
    padding: 2px; }
  #portfolio-section .intervention--presentation-image {
    margin: 70px 0;
    max-height: 450px; }
  #portfolio-section .intervention--portfolio-image {
    width: auto;
    max-height: 450px;
    margin: auto; }
  #portfolio-section .owl-buttons {
    display: none; }
  #portfolio-section .section-separator {
    padding-top: 0; }

/*
SECTION MISSION EXPLOSIVE
*/
#mission-section li {
  color: #4e4e4e; }

/*
SECTION TEAM
*/
#team-section .team--section {
  margin-bottom: 0; }

#team-section .lora-team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

#team-section .profile-image {
  margin-bottom: 10px; }

#team-section .profile-content .position {
  color: #4e4e4e; }

#team-section .profile-content span {
  width: 145px; }

/*
SECTION CONTACT
*/
.dark-background {
  background-color: white; }

.single-form .input-label::before {
  color: #f7ac54; }

.input-outer .group.relative {
  border-bottom: 1px dashed #4e4e4e;
  -webkit-transition: border-bottom 2s;
  transition: border-bottom 2s; }

.input-outer.input-filled .group.relative {
  border-bottom: transparent; }

#contact-form input, #contact-form textarea {
  color: black; }

#contact-form textarea {
  line-height: 1.6;
  padding-top: 15px; }

#contact-form .btn {
  color: #4562ae; }

#contact-form .icon {
  color: #4562ae; }

#contact-form .contact-us .single-form {
  -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.25); }

/*
SECTION FOOTER
*/
.contact-footer .each-section .overflow p {
  color: #4562ae; }

.contact-footer .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly; }

.footer--img-padding {
  padding: 1rem 0 0 0 !important;
  margin-right: 20px;
  width: 100px; }

.contact-footer .social-icon li a {
  background-color: #0a8141; }
  .contact-footer .social-icon li a i {
    color: white; }

/*
- au hover sur slider mission, figer le slider
- changer curseur sliders

*/
